<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arrsdesign.oclock">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Task2"
            android:label="@string/title_activity_task2"></activity>
        <activity
            android:name=".Task_Creation2"
            android:label="@string/title_activity_task__creation2"/>
        <activity android:name=".MainActivity2" />
        <activity android:name=".SplashScreen" />

        <activity
            android:name=".Profile"
            android:label="PROFILE" />
        <activity android:name=".Register" />

        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>